<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container--about">
  <!-- <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div> -->
  <div class="introduction--bruno">
    <div class="name--bruno">
      <h1>Bruno<br />Morgado</h1>
      <p>Description</p>
      <a class="button-scroll" href="#description--bruno">Read More</a>
    </div>
    <div class="image--bruno">
      <img src="assets/images/Bruno_Morgado.jpeg" />
    </div>
  </div>
  <div class="border--bruno"></div>
</main>
<div id="description--bruno">
  <div class="text--bruno">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iusto
      cupiditate quisquam incidunt voluptas placeat sit nemo vitae voluptatem
      numquam quis, ex repellat molestias omnis minus architecto dignissimos
      natus distinctio.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere obcaecati
      impedit ipsa quam? Quas vero maiores non vel sit nobis ad, similique
      cupiditate enim quasi officiis reprehenderit laudantium eveniet odit?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iusto
      cupiditate quisquam incidunt voluptas placeat sit nemo vitae voluptatem
      numquam quis, ex repellat molestias omnis minus architecto dignissimos
      natus distinctio. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Dolore iusto cupiditate quisquam incidunt voluptas placeat sit nemo
      vitae voluptatem numquam quis, ex repellat molestias omnis minus
      architecto dignissimos natus distinctio. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Dolore iusto cupiditate quisquam incidunt
      voluptas placeat sit nemo vitae voluptatem numquam quis, ex repellat
      molestias omnis minus architecto dignissimos natus distinctio. Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. Dolore iusto cupiditate
      quisquam incidunt voluptas placeat sit nemo vitae voluptatem numquam quis,
      ex repellat molestias omnis minus architecto dignissimos natus distinctio.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iusto
      cupiditate quisquam incidunt voluptas placeat sit nemo vitae voluptatem
      numquam quis, ex repellat molestias omnis minus architecto dignissimos
      natus distinctio.
    </p>
    <div class="resume-download">
      <p class="resume-bruno">
        <a href="/Assets/BrunoMorgado_Resume.pdf" download>Resume</a>
      </p>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
