<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container--about">
  <!-- <div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div> -->
  <div class="introduction--bruno">
    <div class="name--bruno">
      <h1>Bruno Morgado</h1><br>
      <p>
        A Toronto based Software Development Engineer student that strives to
        combine machine learning to design and code.
        I am also an individual passionate about life in constant pursuit of improvement. Hence, new friends and more challenges are always welcome.
        If you want to know more about my skills, educational background and professional experience, feel free to take a look at my resume below or visit my LinkedIn.
      </p>
      <br>
      <p class="information-bruno">
        <a href="/Assets/BrunoMorgado_Resume.pdf" download>Resume</a>
        <span>&nbsp;|&nbsp;</span>
        <a href="https://www.linkedin.com/in/bruno-morgado-io/" target="_blank">LinkedIn</a>
      </p>
    </div>
    <div class="image--bruno">
      <img src="Assets/images/bruno-morgado-bw.png" style="width: 400px"/>
    </div>
  </div>
</main>
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
