<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="welcome-projects">Selected <%= title %> </h1>
  </div>
  <div class="selected-projects">
  <a href="http://studentweb.cencol.ca/bcantanh/Assignment4/Assignment4.html"><img class="portfolio-image" alt="Image of the formulary project" src="assets/images/project-01.jpg"></a>
  <a href="http://studentweb.cencol.ca/bcantanh/Term_Project/home.html"><img class="portfolio-image" alt="Image of the Real Estate project" src="assets/images/project-02.jpg"></a>
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment2/Assignment2.html"><img class="portfolio-image" alt="Image of the Table Builder project" src="assets/images/project-03.jpg"></a>
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment3/Chapter/photos.htm"><img class="portfolio-image" alt="Image of the Favourites project" src="assets/images/project-04.jpg"></a>
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment4/Assignment4/assignment4.html"><img class="portfolio-image" alt="Image of the Registration project" src="assets/images/project-05.jpg"></a>
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment5/assignment5.html"><img class="portfolio-image" alt="Image of the Lady Bug project" src="assets/images/project-06.jpg"></a>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
