<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container-project">
  <div class="jumbotron">
    <h1 class="welcome-projects">Selected <%= title %> </h1>
  </div>
  <div class="selected-projects">
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/Assignment4/Assignment4.html" target="blank"><img class="portfolio-image" alt="Image of the formulary project" src="Assets/images/project-01.jpg"></a>
  <p class="project-description">Form</p>
  </div>
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/Term_Project/home.html" target="blank"><img class="portfolio-image" alt="Image of the Real Estate project" src="Assets/images/project-02.jpg"></a>
  <p class="project-description">Real Estate Web Page</p>
  </div>
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment2/Assignment2.html" target="blank"><img class="portfolio-image" alt="Image of the Table Builder project" src="Assets/images/project-03.jpg"></a>
  <p class="project-description">Table Builder</p>
  </div>
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment3/Chapter/photos.htm" target="blank"><img class="portfolio-image" alt="Image of the Favourites project" src="Assets/images/project-04.jpg"></a>
  <p class="project-description">Photo Selector</p>
  </div>
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment4/Assignment4/assignment4.html" target="blank"><img class="portfolio-image" alt="Image of the Registration project" src="Assets/images/project-05.jpg"></a>
  <p class="project-description">Form Validation</p>
  </div>
  <div class="project">
  <a href="http://studentweb.cencol.ca/bcantanh/S2_Assignment5/assignment5.html" target="blank"><img class="portfolio-image" alt="Image of the Lady Bug project" src="Assets/images/project-06.jpg"></a>
  <P class="project-description">Lady Bug Catcher Game</P>
  </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
