<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main content -->
<main class="container-project">
  <div class="jumbotron">
    <h1 class="welcome-projects">Selected <%= title %></h1>
    <div class="services">
      <div class="services-list">
        <p><i class="fab fa-uncharted fa-lg fa-fw"></i>&nbsp; Custom Software Development</p>
        <p><i class="fas fa-network-wired fa-lg fa-fw"></i></i>&nbsp; Web Application Development</p>
        <p><i class="far fa-file-code fa-lg fa-fw"></i>&nbsp; Software Prototyping</p>
        <p><i class="fas fa-barcode fa-lg fa-fw"></i>&nbsp; Quality Assurance</p>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
